<nav>
    <header>
        <div class="d-flex align-items-center justify-content-between">
            <div class="m-3 d-flex align-items-center">
                <a [routerLink]="['/']" style="text-decoration: none;"><h1 class="letrasLogo text-white ms-2">Librería Utopic</h1></a>
            </div>

            <div class="m-3 d-flex">
                <div class="mx-2">
                    <a [routerLink]="['/']" class="btn btn-personal">Inicio</a>
                </div>
                <div class="mx-2">
                    <a [routerLink]="['/listar-libros']" class="btn btn-orange">Lista de libros</a>
                </div>
                <div class="mx-2">
                    <a [routerLink]="['/listar-autores']" class="btn btn-orange">Lista de autores</a>
                </div>
            </div>
        </div>
    </header>
</nav>
