<header>
    <nav>
        <div class="d-flex align-items-center justify-content-between">
            <div class="m-3 d-flex align-items-center">
                <a href="./../../../index.html"><img src="./../../../assets/librero.png" alt="logo" class="logo"></a>
                <h1 class="letrasLogo text-white ms-2">Librería Utopic</h1>
            </div>
            
            <div class="m-3 d-flex">
                <nav class="mx-2">
                    <a href="./../../../index.html" class="btn btn-personal btn-outline-personal btn-lg">Inicio</a>
                </nav>
            </div>
            
        </div>
    </nav>
</header>