<nav>
    <header>
        <div class="d-flex align-items-center justify-content-between">
            <div class="m-3 d-flex align-items-center">
                <h1 class="letrasLogo text-white ms-2">Librería Utopic</h1>
            </div>

            <div class="m-3 d-flex">
                <div class="mx-2">
                    <a href="./../../../index.html" class="btn btn-personal">Inicio</a>
                </div>
                <div class="mx-2">
                    <a href="./../../../index.html" class="btn btn-primary">Lista de libros</a>
                </div>
                <div class="mx-2">
                    <a href="./../../../index.html" class="btn btn-orange">Lista de autores</a>
                </div>
            </div>
        </div>
    </header>
</nav>
