/* You can add global styles to this file, and also import other style files */
.logo {
    height: 100px;
}

header {
    background: linear-gradient(#18744a, 30%,#649254);
}

body {
    background-color: #f8efed;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background: linear-gradient(#649254, 80%, #18744a);
    color: white;
    text-align: center;
}

.btn-personal {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffffe2;
    --bs-btn-border-color: #ffffe2;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #c4c494;
    --bs-btn-hover-border-color: #ffffe2;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffffe2;
    --bs-btn-active-border-color: #ffffe2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffffe2;
    --bs-btn-disabled-border-color: #ffc107
}

.btn-orange {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffbb56; /* Naranja clarito en estado normal */
    --bs-btn-border-color: #ffbb56; /* Naranja clarito en estado normal */
    --bs-btn-hover-color: #fff; /* Texto blanco en hover */
    --bs-btn-hover-bg: #e6893a; /* Naranja más oscuro en hover */
    --bs-btn-hover-border-color: #e6893a; /* Naranja más oscuro en hover */
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #fff; /* Texto blanco en active */
    --bs-btn-active-bg: #e6893a; /* Naranja más oscuro en active */
    --bs-btn-active-border-color: #e6893a; /* Naranja más oscuro en active */
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffbb56;
    --bs-btn-disabled-border-color: #ffc107;
}

